html 
    head
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com",crossorigin) 
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="./index.css") 
        script(src="./productForm.js", defer) 
        title='Pug'
    body
        h1="Agregar nuevo producto"
    div
      form(id="product-form" class="form-container")
        div(class="form-group")
          label="Titulo"
          input(type="text" id="title")
        div(class="form-group")
          label="Precio"
          input(type="text" id="price")
        div(class="form-group")
          label="URL de la imagen"
          input(type="text" id="thumbnail")
        button(type="submit")='Enviar'